@model  BasketWebPanel.ViewModels.BaseViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Content/images/korsaPic.png" />
    <title>Korsa Admin Panel </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Scripts", false/*required*/)
    <script src="~/Content/socket/socket.io.js"></script>
    <script>
        var socket = io('http://10.100.20.11:5002');        
    </script>



    <style>
        tr:hover {
            background-color: #ededed !important;
        }

        div.panel-body.panel {
            border: 1px solid #dddddd;
        }

        .table-responsive {
            border: 1px solid #dddddd;
        }

        .dataTables_length {
            margin-left: 5px;
        }

        .dataTables_filter {
            margin-right: 5px;
        }

        .dataTables_info {
            margin-left: 5px;
        }

        .paging_simple_numbers {
            margin-right: 5px;
        }

        table.dataTable.no-footer {
            border-right: 0px none transparent;
            border-left: 0px none transparent;
        }



        .iti-flag {
            background-image: url("../../Content/intl-tel-input-master/build/img/flags.png");
        }

        @@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
            .iti-flag {
                background-image: url("path/to/flags@2x.png");
            }
        }

        .centeredImage {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: 0px;
        }

        .navbar {
            min-height: 10px;
        }

        .nav_title {
            height: 20px;
        }

        #divLoader {
            position: fixed;
            top: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            background-color: #FFF;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            z-index: 10000000;
            opacity: 0.4;
            text-align: center;
            filter: alpha(opacity=40);
            /*width: 100px;
            height: 100px;
            position: fixed;
            top: 50%;
            left: 50%;
            background: url(spinner.gif) no-repeat center #fff;
            text-align: center;
            padding: 10px;
            font: normal 16px Tahoma, Geneva, sans-serif;
            border: 1px solid #666;
            margin-left: -50px;
            margin-top: -50px;
            z-index: 2;
            overflow: auto;*/
        }
    </style>

    @*<script src="/firebase-messaging-sw.js"></script>*@
</head>
<body class="nav-md"  >
    <div class="container body" style="max-width:100%;">
        <input type="hidden" id="adminId" value="@Model.Id" />
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="margin-top: 20px;margin-bottom: 20px;text-align: center;">
                        <a href="@Url.Action("Index","Home")" class="site_title">@*<img class="img-responsive" src="~/Content/images/logo.png" />*@ <span>Korsa Web Panel</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            @*<img src="@Model.ProfilePictureUrl" alt="..." class="img-circle profile_img">*@

                            @*@if (string.IsNullOrEmpty(Model.ProfilePictureUrl))
                                {  <img src='~/Content/images/img.jpg' alt="..." class="img-circle profile_img">
                                }
                                else
                                {  <img src='@Url.Content(ApiCall.BaseUrl)@Url.Content(@Model.ProfilePictureUrl)' alt="..." class="img-circle profile_img">
                                }*@

                            @*@if (!string.IsNullOrEmpty(Model.ProfilePictureUrl))
                            {

                                <img src='@Url.Content(ApiCall.BaseUrl)@Url.Content(@Model.ProfilePictureUrl)' alt="..." class="img-circle profile_img">
                            
                            }
                            else
                            {*@
                                <img src='~/Content/images/img.jpg' alt="..." class="img-circle profile_img">  


                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2 style="max-width:135px; overflow-wrap break-word; word-wrap break-word; overflow hidden;text-overflow ellipsis;display -webkit-box;line-height 16px; max-height 32px;-webkit-line-clamp 2;-webkit-box-orient vertical;">@Model.UserName</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            @*<h3>General</h3>*@
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Dashboard</a>
                                </li>

                                <li>
                                    <a><i class="fa fa-user"></i>Users<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li> <a href="@Url.Action("ManageUsers","Users")">View Users</a> </li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-users"></i>Drivers<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li> <a href="@Url.Action("ManageDrivers","Drivers")">View Drivers</a> </li>
                                        @*<li> <a href="@Url.Action("ManageVehicles","Drivers")">View Vehicles</a> </li>*@
                                    </ul>

                                </li>


                                <li>
                                    <a><i class="fa fa-car"></i>Rides<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li> <a href="@Url.Action("ManageRides","Rides")">View Rides</a> </li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-car"></i>Subscriptions<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li> <a href="@Url.Action("Index", "SubscriptionPackages")">Add New Subscriptions</a> </li>
                                        <li> <a href="@Url.Action("ManageSubscriptions", "SubscriptionPackages")">Manage Subscriptions</a> </li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-car"></i>Countries<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li> <a href="@Url.Action("Index", "CountryCities")">Add New Country</a> </li>
                                        <li> <a href="@Url.Action("ManageCountries", "CountryCities")">Manage Countries</a> </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-car"></i>Cities<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li> <a href="@Url.Action("CityIndex", "CountryCities")">Add New City</a> </li>
                                        <li> <a href="@Url.Action("ManageCities", "CountryCities")">Manage Cities</a> </li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-car"></i>Vehicles<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li> <a href="@Url.Action("VehicleTypeIndex","Rides")">Add Vehicle Type</a> </li>
                                        <li> <a href="@Url.Action("ManageVehicleTypes","Rides")">Manage Vehicle Types</a> </li>
                                    </ul>
                                </li>


                                <li>
                                    <a><i class="fa fa-user-plus"></i>Driver Requests<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li> <a href="@Url.Action("ManageDriversRequests","Drivers")">Become a driver request</a> </li>
                                    </ul>

                                </li>
                                <li>
                                    <a><i class="fa fa-user-plus"></i>Support <span id="chatCounterId" style="font-weight:bold;color:red;background-color: white;border-radius:60%;padding:7px;">0</span> <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li> <a href="@Url.Action("Index","ChatHistory")">Support</a> </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user-plus"></i>Track Drivers<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li> <a href="@Url.Action("Index","DriverLocation")">Track Drivers</a> </li>
                                    </ul>
                                </li>



                                @*<li>
            <a><i class="fa fa-file-text fa-4x"></i> Content <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="@Url.Action("PrivacyPolicy", "Content")">Privacy Policy</a></li>
                <li><a href="@Url.Action("AboutUs", "Content")">About Us</a></li>
                <li><a href="@Url.Action("TermsAndConditions", "Content")">Terms & Conditions</a></li>
            </ul>
        </li>*@



                                @*<li>
            <a><i class="fa fa-newspaper-o"></i>Posts<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="@Url.Action("Index","Posts")">Add New Post</a></li>
                <li> <a href="@Url.Action("ManagePosts","Posts")">Manage Posts</a> </li>
            </ul>
        </li>*@
                                @*<li>
            <a><i class="fa fa-bar-chart"></i>Insights<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li> <a href="@Url.Action("Sales","Insights")">Sales</a> </li>
            </ul>
        </li>*@
                                <li>
                                    <a><i class="fa fa-cog"></i>Settings<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li> <a href="@Url.Action("Index","Settings")">View Settings</a> </li>
                                    </ul>
                                </li>


                                @*/////Setiings*@
                                @*<li>
            <a><i class="fa fa-gears"></i> Settings <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="@Url.Action("GeneralSettings","Settings")">General Settings</a></li>
                <li><a href="#">Customer Settings</a></li>
            </ul>
        </li>*@

                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @Model.UserName
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    @*<li><a href="javascript:;"> Profile</a></li>
                                        <li>
                                            <a href="javascript:;">
                                                <span class="badge bg-red pull-right">50%</span>
                                                <span>Settings</span>
                                            </a>
                                        </li>
                                        <li><a href="javascript:;">Help</a></li>*@
                                    <li><a href="@Url.Action("LogOff", null, new { area = string.Empty, controller = "Account" }, Request.Url.Scheme)"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                    <li><a href="#" onclick="UpdateProfile()"><i class="fa fa-user pull-right"></i> Update Profile</a></li>
                                    <li><a href="@Url.Action("ResetPassword", "Home")"><i class="fa fa-lock pull-right"></i> Reset Password</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <div id="divLoader" style="display:none;">
                <img class="centeredImage" style="height:80px; width:80px" src="~/Content/images/ajax-loader.gif" alt="Loader" />
            </div>
            @RenderBody();
            @*/////FooterSection*@
            <footer>
                <div class="pull-right">
                    @*Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>*@
                    <span style="font-size:15px">Powered by    </span> <a href="https://www.ingic.ae/" target="_blank"><img height="20px" width="70px" src="~/Content/images/ingic.png"></a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/shared")
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/validators.js")"></script>
    @*/////DatePickerFiles*@
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker/daterangepicker.js"></script>
    <link href="~/Content/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <script type="text/javascript">
        $('.open-datetimepicker1').click(function (event) {
            event.preventDefault();
            $('#datetimepicker1').click();
        });
    </script>
    <script type="text/javascript">
        $('.open-datetimepicker2').click(function (event) {
            event.preventDefault();
            $('#datetimepicker2').click();
        });
    </script>
    <script type="text/javascript">
        $('.open-datetimepicker3').click(function (event) {
            event.preventDefault();
            $('#datetimepicker3').click();
        });
    </script>
    <script type="text/javascript">
        $('.open-datetimepicker4').click(function (event) {
            event.preventDefault();
            $('#datetimepicker4').click();
        });
    </script>
    @*/////DatePicker*@
    <script type="text/javascript">
        jQuery.ajaxSetup({
            beforeSend: function () {
                $('#divLoader').show();
            },
            complete: function () {
                $('#divLoader').hide();
            },
            success: function () { }
        });
        $(function () {
            $('#datetimepicker1,#datetimepicker2').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'DD/MM/YYYY'
                },
            },
                function (start, end, label) {
                    var years = moment().diff(start, 'years');
                    //alert("You are " + years + " years old.");
                });
        });
    </script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-messaging.js"></script>


    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCwQxInzYXynMeby0UlzylfHU8zeFl9ui0",
            authDomain: "skriblapp-ce2ec.firebaseapp.com",
            databaseURL: "https://skriblapp-ce2ec.firebaseio.com",
            projectId: "skriblapp-ce2ec",
            storageBucket: "",
            messagingSenderId: "215128036629"
        };
        firebase.initializeApp(config);
        const messaging = firebase.messaging();
        messaging.requestPermission().then(function () {
            console.log('Notification permission granted.');
            // TODO(developer): Retrieve an Instance ID token for use with FCM.
            // ...
            messaging.getToken().then(function (currentToken) {
                if (currentToken) {
                    sendTokenToServer(currentToken);
                    //updateUIForPushEnabled(currentToken);
                } else {
                    // Show permission request.
                    console.log('No Instance ID token available. Request permission to generate one.');
                    // Show permission UI.
                    updateUIForPushPermissionRequired();
                    setTokenSentToServer(false);
                }
            })
      .catch(function (err) {
          console.log('An error occurred while retrieving token. ', err);
          showToken('Error retrieving Instance ID token. ', err);
          setTokenSentToServer(false);
      });

            //If token is updated

            messaging.onTokenRefresh(function () {
                messaging.getToken().then(function (refreshedToken) {
                    console.log('Token refreshed.');
                    // Indicate that the new Instance ID token has not yet been sent to the
                    // app server.
                    sendTokenToServer(refreshedToken)
                })
                .catch(function (err) {
                    console.log('Unable to retrieve refreshed token ', err);
                    showToken('Unable to retrieve refreshed token ', err);
                });
            });
        })
      .catch(function (err) {
          console.log('Unable to get permission to notify.', err);
      });

        messaging.onMessage(function (payload) {
            console.log("Message received. ", payload);
            // ...
        });

        function sendTokenToServer(Token) {
            var postData = {
                Token: Token
            };
            // Submit form data via Ajax
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateFCMToken", "Home", new {@Area= "Dashboard"})',
                data: postData,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    OnFailedInsertion(XMLHttpRequest, textStatus, errorThrown)
                },
                success: function (data) {
                    console.log('Token Sent Successfully');
                }

            });
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
@*////PaginationScriptFiles*@
@*<script src="~/Content/pagination/jquery.dataTables.min.js"></script>
    <link href="~/Content/pagination/jquery.dataTables.min.css" rel="stylesheet" />*@


<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link href="~/Content/pagination/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>



@*/////TimePicker*@
<script src="~/Content/bootstrap-timepicker/jquery.timepicker.min.js"></script>
<link href="~/Content/bootstrap-timepicker/jquery.timepicker.min.css" rel="stylesheet" />




<script type="text/javascript">
        var car = {
            id: "4",
            message: "this is test message",
            senderUserName: "white",
            senderUserId: 1,
            senderUserName: "white",
            isMedia: false,
            channel: "AdminChat:D11111",
            messageType: 0,
            messageDeliveryStatus: 0,
            receiverUserId: "11111",
            userType: 1
        };
        $(document).ready(function () {
            //init socket and connect        
            socket.on('connect', function () {
                socket.emit('subscribe:channel', 'AdminGenericChanel');
                socket.emit('subscribe:channel', 'listendriverlocations:0');
                //socket.emit('io:AdminChatGeneric', car);
                //alert("connected");
            });
            //setInterval(function () { socket.emit('io:AdminChatGeneric', car); },1000)
        });

        socket.on('AdminGenericChanel', function (data) {            
            $("#chatCounterId").text(parseInt($("#chatCounterId").text()) + 1);
        });
        
    $('.open-timepicker').click(function (event) {
        event.preventDefault();
        $('#timepicker').click();
    });

    function UpdateProfile() {
        var adminId = $('#adminId').val();
        var url = '@Url.Action("Index", "Admin", new { AdminId = "__id__" })';
        window.location.href = url.replace('__id__', adminId);
    };
</script>
<script>
    $(function () {
        $('#timepicker,#timepicker2,#timepicker3,#timepicker4,#timepicker5,#timepicker6,#timepicker7,#timepicker8,#timepicker9,#timepicker10,#timepicker11,#timepicker12,#timepicker13,#timepicker14,#timepicker15,#timepicker16').timepicker();

    });
</script>
@*/////PasswordHide/UnHide*@
<script src="~/Content/Show-Hide-Password-Field-Text-with-jQuery-Bootstrap/bootstrap-show-password.js"></script>
<script>
    $(function () {
        $('#password1').password().on('show.bs.password').on('hide.bs.password');
    });
</script>
<script>
    $(function () {
        $('#password2').password().on('show.bs.password').on('hide.bs.password');
    });
</script>
<script>
    $(function () {
        $('#password3').password().on('show.bs.password').on('hide.bs.password');
    });
</script>
@*////TagsInputScript*@
<link href="~/Content/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
<script src="~/Content/bootstrap-tagsinput/bootstrap-tagsinput-angular.js"></script>
<script src="~/Content/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script>
    $('#Tags').tagsinput({
        //maxTags: 3,
        //maxChars: 8
    });
</script>
@*/////StarRatingPlugin*@
<link href="~/Content/bootstrap-starrating/star-rating.css" rel="stylesheet" />
<script src="~/Content/bootstrap-starrating/star-rating.js"></script>
