@model KorsaWebPanel.Areas.Dashboard.ViewModels.CityViewModelList
@{
    ViewBag.Title = "ManageCities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table caption + thead tr:first-child th,
    .table colgroup + thead tr:first-child th,
    .table thead:first-child tr:first-child th,
    .table caption + thead tr:first-child td,
    .table colgroup + thead tr:first-child td,
    .table thead:first-child tr:first-child td {
        border-top: 0;
        text-align: center;
        vertical-align: central;
    }

    p {
        margin: 0 0 0px !important;
    }

    .btn-group {
        padding-top: 21px;
    }
</style>
<form data-ajax="true" data-ajax-loading="#divLoader" id="frmViewUsers" method="post" novalidate="novalidate">
    @Html.AntiForgeryToken()
    <div class="right_col" role="main">
        <div class="row">
            <div class="x_panel ">
                <div hidden class="alert alert-success" id="success-alert">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Success!</strong><span></span>
                </div>
                <div class="alert alert-error" id="error-alert" hidden>
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Error! </strong> <span> </span>
                </div>
                <div class="x_title">
                    <h3 class="pull-left">Cities</h3>
                    <div class="pull-right">
                        @*<button type="submit" id="btnSaveUserStatuses" class="btn btn-success"><i class="fa fa-plus-square"></i>  Save </button>*@
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>
                </p>
                <div class="x_content">
                    <div class="table-responsive" style="overflow-x:auto; overflow-y:hidden">
                        <table id="datatable" class="table table-striped table-bordered" style="table-layout: auto; text-align:center;">
                            <thead>
                                <tr>
                                    <th style="vertical-align:middle">ID</th>
                                    <th style="vertical-align:middle">Country Name</th>
                                    <th style="vertical-align:middle">City Name</th>
                                    <th style="vertical-align:middle">Status  </th>
                                    <th style="vertical-align:middle">Action</th>
                                    <th style="vertical-align:middle">Action</th>


                                </tr>
                            </thead>
                            <tbody>
                                @{var n = 1; }
                                @for (int i = 0; i < Model.cities.Count; i++)
                                {
                                    <tr>

                                        <td style="vertical-align:middle">@Model.cities[i].Id</td>
                                        <td style="vertical-align:middle">@Model.cities[i].Country.English.Name</td>
                                        <td style="vertical-align:middle">@Model.cities[i].English.Name</td>
                                        <td style="vertical-align:middle">@(Model.cities[i].IsActive == true ? "Active" : "Inactive")</td>

                                        <td style="vertical-align:middle">
                                            <a class="label label-info" href="@Url.Action("CityIndex", "CountryCities", new { id = Model.cities[i].Id})">Edit</a>
                                        </td>
                                        <td style="vertical-align:middle">
                                            <a class="label label-danger" href="@Url.Action("DeleteCity", "CountryCities", new { id = Model.cities[i].Id})" onclick="return confirm('Are you sure?');">Delete</a>
                                        </td>

                                    </tr>
                                    n++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@Scripts.Render("~/bundles/jquery")

